<% if user_signed_in? %>
<div class="user-profile col-md-3 panel panel-default">
    <%= render "users/small_profile" %>
</div>

<div class="col-md-5">
    <%= render "tweets/timeline" %>
</div>

<div class="follow-suggestions col-md-4">    
    <%= render "users/follow_suggestions" %>
</div>
<% end %>